@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Навчальний портал</h1>
    <h3 style="color: navy;">Відкритий навчальний портал</h3>
    <br />
    <hr />
    <br />
    <br />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
